@import "tailwindcss";

.project_card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 1rem;
}

.project_title_company {
  grid-area: 1 / 1 / 1 / 5;
}
.project_status {
  grid-area: 1 / 5 / 1 / 6;
}
.project_description {
  grid-area: 3 / 1 / 3 / 6;
}
.project_progress {
  grid-area: 4 / 1 / 5 / 6;
}
.project_time_payment {
  grid-area: 5 / 1 / 6 / 6;
}
.client_card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 1rem;
}

.client_logo {
  grid-area: 1 / 1 / 2 / 5;
}
.client_name {
  grid-area: 2 / 1 / 3 / 5;
}
.client_company {
  grid-area: 3 / 1 / 4 / 5;
}
.client_email {
  grid-area: 4 / 1 / 5 / 5;
}
.client_phone {
  grid-area: 5 / 1 / 6 / 5;
}
.client_total {
  grid-area: 1 / 5 / 5 / 6;
}
.client_active {
  grid-area: 6 / 1 / 7 / 6;
}
